.container{
  border: 2px solid blueviolet;
  border-radius: 12px;
  box-shadow: 0 9px 14px 0 blueviolet;
  margin-top: 30px;
}

.form-control,.form-label,span{
  width: 40%;
  margin-left: 35%;
  margin-top: 6px;
}
.btn{
  margin-left: 50%;
  margin-bottom: 10px;
}

span{
  color:red;
}
.form-control{
  border: 2px solid black;
  
}